@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* Color

#dfa878 primary color
#f0f0f0 secondary color
#f8f7ff paragraf

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
  background: #f0f0f0;
}

/* REUSABLE */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  background: #a3b18a;
}

/* REUSABLE */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #a3b18a;
}

.navigation .container {
  transition: all 0.3s ease-in-out;
}

.navigation.scrolling-active .container {
  background: #a3b18a;
  padding: 10px 20px;
  border-radius: 10px;
}

.navigation.scrolling-active .social-icon {
  gap: 6px;
}

.navigation.scrolling-active .social-icon i {
  color: #4b644a;
  background: #fff;
}

.navigation.scrolling-active .right-navbar button {
  background: transparent !important;
  color: #fff;
}

.navigation.scrolling-active .hamburger-menu i {
  background: transparent;
  color: #fff;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo h1 {
  color: #fff;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: #4b644a;
}

.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  transition: all 0.3s ease-in-out;
}

.social-icon i {
  font-size: 1.1rem;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.right-navbar button {
  font-size: 1.2rem;
  font-weight: 800;
  color: #4b644a;
  padding: 5px 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.modal-searchBar {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Modal Content */
.modal-content {
  background-color: #f0f0f0;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.group {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 30px 0 0;
}

.input {
  width: 100%;
  height: 50px;
  line-height: 28px;
  padding: 8px 15px 8px 45px;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #ffff;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.group i {
  position: absolute;
  left: 3%;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* Close button */
.close {
  position: absolute;
  right: 2%;
  top: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

/* SIDEBAR*/

aside {
  width: 20%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 50px 10px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  border-radius: 8px;
  background: #fff;
}

.sidebar-title {
  padding: 10px;
  background-color: #a3b18a;
}

.sidebar-title h2 {
  text-align: center;
  color: #fff;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.option label {
  font-size: 14px;
}

.slider {
  width: 100%;
}

.slider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
}

/* LIST PRODUCT */

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  float: right;
  padding: 50px 30px;
}


.nav-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 8px 20px;
}

.sortby {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #A3B18A;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.layout-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.layout-icons i {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Card Product */

.cardProduct-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 30px;
}

.cardProduct {
  width: 230px;
  height: 420px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 8px 10px 11px #bebebe, 0px 0px 0px #9b4e4e;
}

.cardProduct img {
  width: 200px;
  margin: auto;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
  margin-bottom: 20px;
}

.desc p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.priceTag {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 5px;
  line-height: 20px;
  text-transform: capitalize;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  color: crimson;
  margin: 10px 0;
  font-size: 13px;
}

.rating span {
  margin-left: 10px;
  color: gray;
}

.btn-cardProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-cardProduct i {
  padding: 0 20px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-cardProduct button {
  width: 150px;
  padding: 15px;
  color: #fff;
  border-radius: 0 0 10px 0;
}

/* Footer Section */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

#footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.brand,
.support,
.category,
.navlinks,
.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brand h1 {
  font-size: 2.2rem;
  color: #000;
  font-weight: 600;
}

.brand p {
  width: 80%;
  color: gray;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 20px;
}

.links a {
  font-size: 15px;
  color: gray;
}

.socialFooter {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.socialFooter i {
  font-size: 25px;
  color: #fff;
  background: #4b644a;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0px 10px 9px #9f9f9f, 0px 0px 0px #ffffff;
}

.address p {
  font-size: 15px;
  line-height: 30px;
  color: gray;
}

.copyright {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #888;
}

.copyrightContent p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-top: 10px;
}

.footerPayment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footerPayment img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .navigation {
    padding: 10px 50px;
    z-index: 99;
  }

  .hamburger-menu {
    z-index: 99;
    display: block;
  }

  .hamburger-menu i {
    font-size: 1.5rem;
    color: #fff;
  }

  .navigation.scrolling-active .hamburger-menu i {
    color: #fff;
  }

  .right-navbar {
    gap: 15px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 150px;
    height: 100vh;
    padding: 50px 20px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(400px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu a {
    color: #000;
    font-size: 1.2rem;
  }

  .menu a:hover {
    transform: scale(105%);
  }

  .menu.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
